<%- include partials/Header.ejs %> 
<%- include partials/Main_Nav.ejs %> 

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <p class="lead">Here you can learn all about <%= page_des %> </p>
  </div>
</div>

<div class="center">

  <%- include partials/main.ejs %>

</div>


<%- include partials/Bottom_Nav.ejs %> 
<%- include partials/Footer.ejs %> 